/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Roboto; }

  * {
      outline: none !important;
  }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
    line-height: 1;
    background-image: url('../../assets/img/bg_try.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:#F5F7FA !important;

    @media(max-width: 425px) {
        background-size: 440%;
    }
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
    @media(min-width: 960px) {
        width: 960px !important;
    }
    margin: 0 auto;
}

.font-size {
    &.-paragraph {
        font-size: 14px;
    }
    &.-title {
        font-size: 32px;
        letter-spacing: 0.0125em;

        @media(max-width: 425px) {
            font-size: 24px;
        }
    }
}

.text-align-item-center {
    text-align: center;
}


#header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #fff;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
}

.section {
    &.info-section {
        padding-top: 60px;
        .title-section,.description-section {
            max-width: 580px;
            margin: 0 auto;
            h1 {
                text-align: center;
                font-weight: 500;
                line-height: 1.1;
                box-sizing: border-box;
                margin: 0;
            }
        }

        .description-section {
            margin-top: 17px;
            span {
                color: #748296;
                font-weight: 400;
            }
        }
    }
    &.form-section {
        padding-bottom: 166px;
        .container {
            .form-box {
                max-width: 620px;
                background-color: #fff;
                margin: 0 auto;
                margin-top: 74px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 4px 40px rgba(116, 130, 150, 0.2);
                border-radius: 3px;

                @media(max-width: 425px) {
                    margin-top: 57px;
                }
                form {
                    .input-group {
                        width: 280px;
                        margin-top: 33px;
                        /*Float Label*/
                        .has-float-label .form-control:placeholder-shown:not(:focus)+label {
                            font-size: 14px;
                            top: calc(50% - 5px);
                        }
                        /* Input and Select */
                        input {
                            &:focus {
                                border: 1px solid #326FFF;
                            }
                        }
                        input, select.full {
                            max-width: 100%;
                            width: 100%;
                            height: 43px;
                            border: 1px solid rgba(116, 130, 150, 0.2);
                            box-shadow: unset;
                            &.phone-input {
                                width: 100%!important;
                            }
                        }
                        /* Phone Code's Field */
                        .phone-code-content {
                            margin-right: 5px;
                            @media(max-width: 425px) {
                                margin-right: unset;
                            }
                            #in-code-select-toggle {
                                text-decoration: none;
                                height: 43px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border: 1px solid rgba(116, 130, 150, 0.2);
                                box-shadow: unset;
                                &:hover {
                                    color: rgb(85, 85, 85);
                                }

                                img {
                                    width: 16px;
                                }

                                .glyphicon {
                                    font-size: 6px;
                                }
                           }
                        }

                        #in-code-select-list {
                            display: none;
                            position: absolute;
                            bottom: -170px;
                            left: 0;
                            z-index: 10;
                            max-width: 500px;
                            max-height: 200px;
                            min-width: 170px;
                            background-color: #fff;
                            border-radius: 3px;
                            filter: drop-shadow(0px 0px 2px rgba(0,0,0,.2));
                            padding: 10px;
                            ul {
                                margin: 0px;
                                padding: 0px;
                                li {
                                    a {
                                        text-decoration: none;
                                        display: flex;
                                        padding: 5px;
                                        &:hover {
                                            background-color: #f5f5f5;
                                            color: #262626;
                                        }

                                        .ctr-flag {
                                            width: 16px;
                                        }
                                        .ctr-name {
                                            margin-left: 5px;
                                            color: #333;
                                        }
                                    }
                                }
                            }
                            &.active {
                                display: block;
                            }
                        }
                        /* Errors Display */
                        .error {
                            display: none;
                            position: absolute;
                            left: 0;
                            bottom: -22px;
                            z-index: 9;
                            height: 22px;
                            background: #F0175C;
                            width: 70%;
                            padding-left: 15px;
                            border-bottom-left-radius: 3px;
                            border-bottom-right-radius: 3px;
                            span {
                                color: #fff;
                                font-size: 10px;
                                border-bottom-left-radius: 6px;
                            }
                        }
                        &.is_invalid {
                            .error {
                                display: block;
                            }
                        }
                    }
                    .btn-group {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-top: 30px;
                        margin-bottom: 20px;
                        
                        button {
                            background: #14E298;
                            border-radius: 3px;
                            color: #fff;
                            width: 250px;
                            height: 42px;
                            border: none;
                            @media(max-width: 425px) {
                                margin-bottom: 70px;
                            }
                            &:hover {
                                background: #23F7AB;
                            }
                            &.submited {
                                background: transparent;
                                border: 1px solid #23F7AB;
                                color: #23F7AB;
                                @media(max-width: 425px) {
                                    margin-bottom: unset;
                                }
                            }
                        }
                    }
               
                }
            }
        }
    }
  
}

.message-box {
    display: none;
    width: 100%;
    &.-box {
        background: #F5F7FA;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 40px;
        text-align: center;
    }
    &.-link {
        width: 100%;
        text-align: center;
        margin: 40px auto 0 auto;
        span {
            line-height: 26px;
            a {
                color: #6C97FB;
            }
        }
    }
}

#footer {
    padding-bottom: 47px;
    .container {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        padding-top: 18px;
    }
    .menu-footer {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            @media(max-width: 425px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
            li {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0 10px;
                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    border-right: none;
                }
                @media(max-width: 425px) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    border-right: unset;
                    padding: unset;
                    margin-top: 10px;
                    &:first-child {
                        padding-left: 0px;;
                    }
                }

                a {
                    color: #748296;
                }
            }
        }
    }
}